.container {
    display: flex;
    justify-content: center;
}

.novel_container {
    display: flex;
    padding: 1em;
    margin: auto;
}

.novel_img {
    display: flex;
    align-items: center;
    max-width: 50%;
    margin: auto;
}

.novel_img img {
    width: 100%;
}

.chapters_container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.chapters {
    padding: 1em;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(2%, 1fr));
    max-height: 50vh;
    overflow-y: auto;
}

.chapter {
    background: var(--bg-terciary);
    transition: var(--ts-time);
    height: 2em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chapter:hover {
    filter: brightness(1.1);
}

.chapter a {
    text-decoration: none;
    color: var(--tx-primary);
}

.chapter a:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .chapters {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 600px) and (max-width:1024px) {
    .chapters {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1200px) {
    .novel_container {
        border: 0;
        background: var(--bg-primary);
        flex-direction: column;
        margin-top: 1em;
    }
    .comments_container {
        border: 0;
        background: var(--bg-primary);
    }
    .chapters {
        border: 0;
        background: var(--bg-primary);
    }
}

@media only screen and (min-width: 1200px) {
    .novel_img {
        max-width: 30%;
        object-fit: contain;
        margin: 0;
    }
    .novel_container {
        width: 80%;
        margin: auto;
        margin-top: 1em;
    }
    .novel_description {
        margin-left: 1ch;
    }
    .comments_container {
        width: 80%;
        margin: auto;
        padding: 1em;
    }
    .chapters {
        width: 80%;
        margin: auto;
    }
}

.live {
    color: green;
}

.finished {
    color: red;
}