<div class="card novel_container">
    <div class="novel_img">
        <img src="https://m.media-amazon.com/images/I/51qv2IdWLzL.jpg" alt="kobayashi-san chi no maid dragon">
    </div>
    <div class="novel_description">
        <div class="novel_title">
            <h1>title</h1>
        </div>
        <div class="novel_data">
            <h3>Descripción: </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, amet! Dolorum exercitationem corporis libero molestiae aliquid, cumque sequi nostrum suscipit necessitatibus numquam ducimus aperiam consectetur iusto fugit nesciunt facilis vel!</p>
        </div>
        <div class="novel_data">
            <div class="data_field">
                <h3>Autor: </h3>
                <span>Cool kyou Sinnja</span>
            </div>
            <div class="data_field">
                <h3>Capítulos: </h3>
                <span>51</span>
            </div>
            <div class="data_field">
                <h3>Estatus: </h3>
                <span>Terminado</span>
            </div>
            <div class="data_field">
                <h3>Traductor(es):</h3>
                <span>Time7aker, Dávalos</span>
            </div>
        </div>
    </div>
</div>
<div class="card comments_container">
    <app-comments-box></app-comments-box>
</div>