.container{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.card_body{
    border-bottom: 0px !important;
}

@media only screen and (max-width: 600px){
    .terms_container{
        background: var(--bg-primary) !important;
        border: 0 !important;
        width: 100%;
    }

    .card_header{
        border-bottom: 0!important;
    }

    .card_body{
        border-bottom: 0!important;
    }

    .card_footer{
        justify-content: center;
    }
}

.link{
    color: var(--link-primary);
    text-decoration: none;
}

.link:hover{
    filter: opacity(.8);
}