.title_container h1 {
    text-align: center;
}

.catalog_container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(240px, 19%));
    width: 98%;
    margin: auto;
    margin-bottom: 1em;
}

.button_container {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.button_container button {
    width: 20%;
}

.spinner {
    display: flex;
    justify-content: center;
}

.notice h1 {
    text-align: center;
}