<div class="container">
    <div class="title">
        <h1>Deja un Comentario: </h1>
    </div>
    <div class="box">
        <textarea name="" id="" rows="10" placeholder="Deja un comentario :D"></textarea>
        <div class="buttons">
            <button class="button_primary">Subir</button>
        </div>
    </div>
    <div class="comments_box">
        <div class="comment">
            <img src="https://mgl.skyrock.net/art/SHAR.8041.456.2.jpg" alt="" class="profile_picture">
            <div class="content">
                <h3>profile_name</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus numquam blanditiis ullam, maxime cumque explicabo officia sapiente nesciunt, atque laudantium ad, quibusdam repudiandae ipsum rem veritatis possimus quae! Quia, dolorum!
                </p>
            </div>
        </div>
    </div>
</div>