.box {
    display: flex;
    flex-direction: column;
}

.box textarea {
    background: var(--bg-terciary);
    color: var(--tx-primary);
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.comments_box {
    display: flex;
    flex-direction: column;
}

.comment {
    display: flex;
}

.comment img {
    max-width: 50px;
    object-fit: contain;
    margin-right: 1ch;
    max-height: 70px;
}

.content h3{
    margin: 0;
}

.content p{
    margin: 0;
}

.spinner_container{
    display: flex;
    justify-content: center;
}

.button_container{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}