.landing h1 {
    text-align: center;
}

.card_container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(240px, 19%));
    width: 98%;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .card_container {
        grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    }
}

@media screen and (min-width: 600px) and (max-width:800px) {
    .card_container {
        grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    }
}