.landing h1 {
    text-align: center;
}

.card_container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    width: 98%;
    margin: auto;
}

@media screen and (max-width: 300px) {
    .card_container {
        grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    }
}