.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--bg-secondary);
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbar div {
    padding: 1em;
}

.navbar div svg {
    color: var(--tx-primary);
}

.navbar div svg:hover {
    cursor: pointer;
}

.sidebar {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    transition: var(--ts-time) ease-in-out;
    background-color: var(--bg-secondary);
    height: 100vh;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
    width: 0.25rem;
}

.sidebar::-webkit-scrollbar-track {
    background: var(--sctrack);
}

.sidebar::-webkit-scrollbar-thumb {
    background: var(--scbar);
}

.displaying {
    display: inline;
}


/* small screens */

@media only screen and (max-width: 600px) {
    .sidebar {
        width: 90vw;
        overflow-y: scroll;
    }
    .hidding {
        left: -90vw;
    }
}


/* big screens */

@media only screen and (min-width: 600px) {
    .sidebar {
        width: 15vw;
    }
    .hidding {
        left: -15vw;
    }
}