<div class="flex">
    <h1 style="text-align: center; padding-top: 1em;">Portada del mes</h1>
    <div class="cover" style="background-image: url({{coverUrl}});">
        <div class="container" *ngIf="coverUrl">
            <h2>Personalización</h2>
        </div>
    </div>
</div>

<input type="file" (change)="uploadCover($event)">

<button class="button_primary" (click)="changeCover()">
    Cambiar portada
</button>

<div class="flex">
    <h1 style="text-align: center; padding-top: 1em;">Fondo de pantalla del auth</h1>
    <img src="{{backgroundUrl}}" alt="">
</div>
<input type="file" (change)="uploadBackground($event)">
<button class="button_primary" (click)="changeBackground()">
    cambiar fondo de pantalla
</button>