<div class="flex">
    <div class="cover" style="background-image: url({{coverUrl}});">
        <div class="container" *ngIf="coverUrl">
            <h2>{{title? title : '¡Lo sentimos!, estamos teniendo problemas para obtener el título'}}</h2>
        </div>
        <h3 *ngIf="!coverUrl">{{title? title : '¡Lo sentimos!, estamos teniendo problemas para obtener el título'}}</h3>
    </div>
</div>

<input type="file" (change)="uploadCover($event)">

<button class="button_primary" (click)="changeCover()">
    Change Cover 
</button>