.container{
    display: flex;
    justify-content: center;
}

.chapter_title{
    display: flex;
    justify-content: center;
}

.chapter_title h1{
    text-transform: capitalize;
}

.chapter_controls{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chapter_controls button{
    margin: 1em;
}

@media only screen  and (max-width:600px){
    .chapter{
        width: 100%;
    }
}

@media only screen and (min-width: 600px){
    .chapter{
        max-width: 80%;
    }
}

.spinner_container{
    padding-top: 1em;
    display: flex;
    justify-content: center;

}