<div class="container">
    <div class="card">
        <div class="card_header">
            <h1>{{novel}}</h1>
        </div>
        <div class="card_body">
            <div class="image_container">
                <img src="{{content.cover}}" alt="" *ngIf="content">
            </div>
            <form [formGroup]="novelForm" *ngIf="content">
                <div class="form_group">
                    <span class="form_label">Título</span>
                    <input type="text" formControlName="title">
                </div>
                <div class="form_group">
                    <span class="form_label">Descripción</span>                    
                    <textarea id="" cols="30" rows="10" formControlName="description"></textarea>
                </div>
                <div class="form_group">
                    <span class="form_label">Traductores</span>
                    <div formArrayName="translators">
                        <div *ngFor="let translator of translatorForms.controls; let i=index" [formGroupName]="i">
                            <div class="form_group">
                                <select formControlName="uid">
                                    <option value="null" disabled selected>Selecciona un empleado</option>
                                    <option *ngFor="let translator of content.translators" value="{{translator.uid}}">{{translator.username}}</option>
                                </select>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card_footer">

        </div>
    </div>
</div>