

.container{
    padding-top: 1em;
    padding-bottom: 1em;
}

.card{
    display: flex;
    width: fit-content;
    margin: auto;
    padding: 1em;
}

.card_body{
    display: flex;
}

.img_container{
    max-width: 50%;
    padding-right: 1em;
}

.img_container img{
    max-height: 200px;
    object-fit: contain;
}

@media only screen and (max-width:600px){
    .card_body{
        flex-direction: column;
    }

    .img_container{
        max-width: 100%;
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: center;
        margin-bottom: 1em;
    }
}