.container{
    padding-top: 1em;
    padding-bottom: 1em;
}

.card{
    width: 80%;
    margin: auto;
    
}

.img_container{
    display: flex;
    max-width: 50%;
}

.img_container img{
    width: 100%;
}

.image_container img{
    max-width: 40%;
    max-height: 200px;
    margin: auto;
    object-fit: contain;
}

.card_footer button{
    margin: 5px;
}

.form_group input:disabled{
    color: white;
}

textarea{
    width: 98%;
    margin: auto;
    resize: none;
    height: 100px;
    border-radius: 5px;
    border: 1px solid var(--bg-terciary);
}

.translatorField{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.translatorField div{
    width: 100%;
    margin-top: 5px;
}

.button_primary {
    margin-top: 5px;
}

.img_form_container{
    display: flex;
    justify-content: space-evenly;
}

.form_group{
    display: block;
}

.table_controller{
    display: flex;
    padding: 5px;
    justify-content: flex-end;
    background-color: var(--bg-terciary);
}