<div class="container" style="padding-top: 1em;">
    <div class="card user_container">
        <div class="card_header">
            <h3>usuario</h3>
        </div>
        <div class="card_body">
            <div class="image_container">
                <img src="https://firebasestorage.googleapis.com/v0/b/funadas-blog.appspot.com/o/U4GImxSN7POTl7etIWlXJnk6tqA2%2Fnichijou%20404.jpg?alt=media&token=bf6a23a6-7268-4048-86a5-3c19d0d7c889" alt="">
            </div>
            <form [formGroup]="userForm">
                <div class="form_group">
                    <span class="form_label">
                        Usuario
                    </span>
                    <input type="text" formControlName="username">
                </div>
                <div class="form_group">
                    <span class="form_label">
                        Correo electrónico
                    </span>
                    <input type="text" formControlName="email">
                </div>
                <div class="form_group">
                    <span class="form_label">
                        uid
                    </span>
                    <input type="text" formControlName="uid">
                </div>
                <div class="form_group">
                    <span class="form_label">
                        Role
                    </span>
                    <input type="text" formControlName="role">
                </div>
                <div class="form_group">
                    <span class="form_label">
                        Nivel de privilegios
                    </span>
                    <input type="text" formControlName="roleId">
                </div>
            </form>
        </div>
        <div class="card_footer">
            <div>
                <button class="button_primary">
                    Editar información
                </button>
            </div>
            <div>
                <button class="button_primary">
                    Cancelar
                </button>
                <button class="button_primary">
                    Guardar edición
                </button>
            </div>
        </div>
    </div>
</div>