<div class="container" style="padding-top: 1em;">
    <div class="card user_container">
        <div class="card_header">
            <h3>usuario</h3>
        </div>
        <div class="card_body" *ngIf="!user" style="display: flex; justify-content: center;">
            <i class="fas fa-4x fa-spin fa-circle-notch"></i>
        </div>
        <div class="card_body" *ngIf="user">
            <div class="image_container">
                <img src="{{user.picture}}" alt="">
            </div>
            <form [formGroup]="userForm">
                <div class="form_group">
                    <span class="form_label">
                        Usuario
                    </span>
                    <input type="text" formControlName="username">
                </div>
                <div class="form_group">
                    <span class="form_label">
                        Correo electrónico
                    </span>
                    <input type="text" formControlName="email">
                </div>
                <div class="form_group">
                    <span class="form_label">
                        Uid
                    </span>
                    <input type="text" formControlName="uid">
                </div>
                <div class="form_group">
                    <span class="form_label">
                        Role
                    </span>
                    <select type="text" formControlName="role" class="form_control">
                        <option value="client">Lector</option>
                        <option value="staff">Editor</option>
                    </select>
                </div>
                <div class="form_group">
                    <span class="form_label">
                        Nivel de privilegios
                    </span>
                    <select type="text" formControlName="roleId" class="form_control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="card_footer">
            <div *ngIf="!editing">
                <button class="button_primary" (click)="setEditing()">
                    Editar información
                </button>
            </div>
            <div *ngIf="editing">
                <button class="button_primary" (click)="setEditing()">
                    Cancelar
                </button>
                <button class="button_primary" (click)="edit()">
                    <span *ngIf="!uploading">
                        Guardar edición
                    </span>
                    <div *ngIf="uploading">
                        <i class="fas fa-spin fa-circle-notch"></i>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>