.header{
    background-color: var(--bg-quartary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2{
    padding-left: 1em;
    margin: 0;
}

.close{
    padding: 1em;
}

.close svg{
    cursor: pointer;
    color: var(--tx-primary)
}