<header class="header">
    <h2>{{title}}</h2>
    <div class="close" (click)="alternate()">
        <i class="fa fa-2x fa-times"></i>
    </div>
</header>
<div class="menu_container">
    <ul *ngIf="menu != undefined">
        <li *ngFor="let option of menu">
            <a [routerLink]="[option.url]" class="nav-link">
                <i class="fas {{option.icon}}"></i>
                {{option.title}}
            </a>
        </li>
        <li (click)="changeTheme()">
            <div *ngIf="theme == 'light'">
                <i class="fas fa-glasses"></i>
                <span>Claro</span>
            </div>
            <div *ngIf="theme == 'dark'">
                <i class="fas fa-moon"></i>
                <span>Oscuro</span>
            </div>
            <div *ngIf="theme == 'beige'">
                <i class="fas fa-sun"></i>
                <span>Beige</span>
            </div>
        </li>
    </ul>
</div>