.title_container{
    padding-top: 1em;
}

.title_container h1{
    text-align: center;
}

.table_controller{
    display: flex;
    padding: 5px;
    justify-content: flex-end;
    background-color: var(--bg-terciary);
}

@media only screen and (max-width: 600px){
    .container{
        width: 100%;
    }
}

@media only screen and (min-width: 600px){
    .container{
        width: 80%;
        margin: auto;
    }
}