<mat-card>
    <h1>
        Registrate para poder acceder a las novelas
    </h1>
    <form class="register-form">
        <mat-form-field>
            <mat-label>Nombre de usuario</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Correo electrónico</mat-label>
            <input type="email" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput>
        </mat-form-field>
        <div class="links">
            <input type="checkbox">
            <span>
                Acepto los <a routerLink="/terms">términos y condiciones</a>
            </span>
        </div>
        <div class="links">
            <span>
                ¿Ya tienes cuenta? <a routerLink="/auth/login">Iniciar Sesión</a>
            </span>
        </div>
        <button mat-raised-button color="primary">
            Registrarme!
        </button>
    </form>
</mat-card>