:root{
    --bg-primary: #fff;
    --bg-secondary: #eee;
    --bg-terciary: #ddd;
    --bg-quartary: #ccc;
    --tx-primary: #000;
    --tx-seconadary: #fff;
    --ts-time : 700ms;
    --sctrack: #666;
    --scbar: #000;
}

.light{
    --bg-primary: #fff;
    --bg-secondary: #eee;
    --bg-terciary: #ddd;
    --bg-quartary: #ccc;
    --tx-primary: #000;
    --tx-seconadary: #fff;
}

.dark{
    --bg-primary: #333;
    --bg-secondary: #444;
    --bg-terciary: #555;
    --bg-quartary: #666;
    --tx-primary: #fff;
    --tx-seconadary: #000;
}

body{
    background-color: var(--bg-primary);
    color: var(--tx-primary);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}