:root{
    --bg-primary: #fff;
    --bg-secondary: #eee;
    --bg-terciary: #ddd;
    --bg-quartary: #ccc;
    --tx-primary: #000;
    --tx-secondary: #fff;
    --tx-hover: #333;
    --ts-time : 700ms;
    --sctrack: #666;
    --scbar: #000;
    --fnt-size: 16px;
    --fnt-family: Helvetica;
    --link-primary: #007bff;
}

.light{
    --bg-primary: #fff;
    --bg-secondary: #eee;
    --bg-terciary: #ddd;
    --bg-quartary: #ccc;
    --tx-primary: #000;
    --tx-seconadary: #fff;
}

.dark{
    --bg-primary: #333;
    --bg-secondary: #444;
    --bg-terciary: #555;
    --bg-quartary: #666;
    --tx-primary: #fff;
    --tx-seconadary: #000;
}

body{
    background-color: var(--bg-primary);
    color: var(--tx-primary);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: var(--fnt-size);
    font-family: var(--fnt-family);
}

.card{
    background-color: var(--bg-secondary);
    border-radius: 15px;
}

.card_header{
    border-bottom: 1px solid var(--bg-quartary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_body{
    padding: 1em;
    border-bottom: 1px solid var(--bg-quartary);
}

.card_footer{
    display: flex;
    justify-content: flex-end;
    padding: 1em;

}

.form_group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_group .form_label{
    font-weight: bold;
}

.form_group input{
    width: 98%;
    margin: auto;
    height: 2em;
    border-radius: 5px;
}

.button_primary{
    height: 3em;
    font-weight: bold;
    border-radius: 5px;
    background: var(--bg-quartary);
    border: 1px solid var(--bg-terciary);
    transition: var(--ts-time);
}

.button_primary:hover{
    filter: brightness(.7);
    cursor: pointer;
}

.reference{
    text-decoration: none;
    color: var(--link-primary);
}