<table cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th colspan="100%">
                {{title}}
            </th>
        </tr>
        <tr>
            <th *ngFor="let header of headers">
                {{header}}
            </th>
        </tr>
    </thead>
    <tbody *ngIf="!data">
        <tr class="show">
            <td></td>
            <td colspan="100%" class="spinner">
                <div>
                    <i class="fas fa-2x fa-spin fa-circle-notch"></i>
                </div>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="data">
        <tr *ngFor="let row of data">
            <td *ngFor="let property of model">
                {{row[property]}}
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="100%">
                <div class="table_controller">
                    <button class="button_primary" *ngIf="page > 1" (click)="previous()">
                        Anterior
                    </button>
                    <span>
                        {{page}}
                    </span>
                    <button class="button_primary" *ngIf="true" (click)="next()">
                        Siguiente
                    </button>
                </div>
            </td>
        </tr>
    </tfoot>
</table>