table{
    width: 100%;
    border-radius: 15px;
    background: var(--bg-secondary);
    font-weight: bold;
}

tr td{
    border-bottom: 1px solid var(--tx-terciary);
}

tr > td{
    text-align: center;
    height: 2.5em;
}

tfoot tr td{
    border-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    height: auto;
    align-items: center;
}

tfoot tr td button{
    margin: 1em;
    
}


