<table width="100%" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th colspan="100%">
                {{title}}
            </th>
        </tr>
        <tr>
            <th *ngFor="let header of headers">
                {{header}}
            </th>
        </tr>
    </thead>
    <tbody *ngIf="data">
        <tr *ngFor="let record of data">
            <td *ngFor="let property of model">{{record[property]}}</td>
        </tr>
    </tbody>
    <tbody *ngIf="!data">
        <tr>
            <td colspan="100%">
                <div style="display: flex; justify-content: center; width: 100%; align-items: center;">
                    <i class="fas fa-2x fa-spin fa-circle-notch"></i>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="100%">
                <div>
                    <button class="button_primary" (click)="previous()">Anterior</button>
                    <span>
                        {{page}}
                    </span>
                    <button class="button_primary" (click)="next()">Siguiente</button>
                </div>
            </td>
        </tr>
    </tfoot>
</table>