<div class="table">
    <table>
        <thead>
            <tr>
                <td >La tabla de pruebas</td>
            </tr>
            <tr>
                <td>1</td>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>test</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <button class="button_primary">Anterior</button>
                    1
                    <button class="button_primary">Siguiente</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>