th{
    border: 1px solid white;
}

.controls_container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;   
}

.controls_container button:last-child{
    margin-right: 1em;
}

.page{
    margin: 0.5em;   
}