table{
    width: 100%;
    border-radius: 15px;
    background: var(--bg-secondary);
    font-weight: bold;
}

tr td{
    border-bottom: 1px solid var(--tx-terciary);
}

tr > td{
    text-align: center;
    height: 2.5em;
}

tbody tr:last-child td{
    border-radius: 15px;
    border-bottom: 0px;
}
